:root{
    --pale-blue:hsl(243 100% 93%);
    --grayish-blue:hsl(229 7% 55%);
    --dark-blue:  hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229 57% 11%);
    --gradient: hsl(6, 100%, 80%),  hsl(335, 100%, 65%);

}
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background:var(--very-dark-blue);
    background-image: url(/images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 100vh;
    background-size: 100%;
    display: grid;
    place-items: center;

}
.container{
    display: flex;
    gap: 40px;

}
.first-section{
    background: var(--dark-blue);
    padding: 60px;
    max-width: 380px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 100px;

}
.icon-container{
    display: flex;
    gap: 15px;
    margin-top: 30px;

}
.icon-container div{
    height:50px;
    width: 50px;
    background: var(--very-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

}
.second-setion{
    padding: 60px;
    width: 750px;
    background: var(--dark-blue);
    position: relative;


}
.second-section p{
    color: var(--grayish-blue);

}
.second-section p span{
    color:var(--pale-blue)

}
.progress-bar{
    width: 100%;
    background: var(--very-dark-blue);
    height: 20px;
    border-radius: 15px;
    overflow: hidden;
}
.guage{
    background: rgb(255 163 153);
    background: linear-gradient(90deg, rgba(255 163 153 1) 45%, rgba(255 77 151 1) 98%);
    height: 100%;
    width: 80%;
    border-radius: 15px;
    position: relative;

}
.guage::before{
    content: '';
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background: white;
    position: absolute;
    right: 0px;

}
.bubble{
    background: white;
    padding: 20px;
    width: fit-content;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 55px;
    right: 43px;

}
.bubble-description{
    display: flex;
    align-items: center;
    gap: 8px;

    }
    .text-1{
        color: var(--very-dark-blue);
        font-weight: 700;
        font-size: 14px;

    }
    .text-2{
        text-transform: uppercase;
        color: var(--grayish-blue);
        font-size: 14px;
        font-weight: 700;
    }
    .triangle{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 30px 30px 0;
        border-color: transparent white transparent transparent;
        position: absolute;
        bottom: 28px;
        right:0px;

    }